<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.LanguageCode | default "en-us" }}">
{{ partial "head.html" . }}
<body>
	{{ partial "header" . }}
	<div class="primary">
	{{ block "main" . }}
		{{- if or .Title .Content }}
		<div class="page block">
			{{ with .Title }}<h1 class="page__title">{{ . }}</h1>{{ end }}
			{{ with .Content }}<div class="page__content{{ if not $.Title }} page__content--notitle{{ end }}">{{ . }}</div>{{ end }}
		</div>
		{{ end }}
	{{ end }}
	</div>
	{{ partial "footer" . }}
{{- with .Site.Menus.main }}
<script src="{{ "js/menu.js" | relURL }}"></script>
{{- end }}
{{- partial "mathjax.html" . -}}
</body>
</html>