{{ define "main" }}
	<main class="main">
		{{- if or .Title .Content }}
		<div class="page block">
			{{ with .Title }}<h1 class="page__title">{{ . }}</h1>{{ end }}
			{{ with .Content }}<div class="page__content{{ if not $.Title }} page__content--notitle{{ end }}">{{ . }}</div>{{ end }}
		</div>
		{{- end }}
		<div class="cards">
			{{ range .Paginator.Pages }}
				<div class="card{{ if and (ge ($.Param "cardsPerRow") 1) (le ($.Param "cardsPerRow") 3) }} card--{{ $.Param "cardsPerRow" }}col{{ else }} card--2col{{ end }}">
					{{ .Render "summary" }}
				</div>
			{{ end }}
		</div>
	</main>
	{{ partial "pagination.html" . }}
{{ end }}