{{ define "main" }}
	<main class="main">
		<div class="single block">
			<article class="post">
				{{- partial "post_featured.html" (dict "page" . "IsSingle" true) }}
				{{- partial "post_meta.html" (dict "page" . "class" "mb") }}
				<h1 class="post__title">{{ .Title }}</h1>
				{{- partial "post_toc.html" . }}
				<div class="post__content">{{ .Content }}</div>
				{{ if or (.Param "share") (isset $.Params "tags") }}
				<footer class="post__footer">
					{{ partial "post_tags.html" . }}
					{{ partial "post_share.html" . }}
				</footer>
				{{ end }}
			</article>
		</div>
	</main>
	{{ partial "authorbox.html" . }}
	{{ partial "related.html" . }}
	{{ partial "comments.html" . }}
{{ end }}