{{ define "main" }}
	<main class="main">
		{{ partial "breadcrumb.html" . }}
		<div class="single block">
			<article class="entry">
				{{- partial "entry/featured.html" (dict "page" . "IsSingle" true) }}
				{{- partial "entry/meta.html" (dict "page" . "class" "mb") }}
				<h1 class="entry__title">{{ .Title }}</h1>
				{{- partial "entry/toc.html" . }}
				<div class="entry__content">{{ .Content }}</div>
				{{ if or (.Param "share") (isset $.Params "tags") }}
				<footer class="entry__footer">
					{{ partial "entry/tags.html" . }}
					{{ partial "entry/share.html" . }}
				</footer>
				{{ end }}
			</article>
		</div>
	</main>
	{{ partial "authorbox.html" . }}
	{{ partial "related.html" . }}
	{{ partial "comments.html" . }}
{{ end }}