/* Print */
@media print {
	.post__content a,
	.post__meta a,
	.post__tag {
		color: #000;
		text-decoration: underline;
	}

	.logo,
	.block,
	.post__title,
	.post__title-link,
	.meta-categories__link,
	.post__meta,
	.post__content {
		color: #000;
	}

	.main-nav,
	.comments,
	.post__toc,
	.related,
	.footer__copyright-credits {
		display: none;
	}

	.header,
	.block {
		border: 0;
	}

	mark {
		background-color: #25a;
	}

	blockquote {
		border-color: #000;
	}
}
