{{ define "main" }}
	<main class="main">
		{{- with .Content }}
		<div class="page block">
			<div class="page__content page__content--notitle">{{ . }}</div>
		</div>
		{{- end }}
		{{- $mainSections := .Site.Params.mainSections }}
		{{- $paginator := .Paginate (where .Site.RegularPages "Type" "in" $mainSections) }}
		{{- if gt $paginator.TotalNumberOfElements 0 }}
			<div class="cards">
				{{- range $paginator.Pages }}
					<div class="card{{ if and (ge ($.Param "columns") 1) (le ($.Param "columns") 3) }} card--{{ $.Param "columns" }}col{{ else }} card--2col{{ end }}">
					{{ .Render "summary" }}
					</div>
				{{- end }}
			</div>
		{{- end }}
		{{- if and (not .Site.Params.hideNoPostsWarning) (eq $paginator.TotalNumberOfElements 0) }}
			<div class="empty block center">
				<div class="empty__icon">¯\_(ツ)_/¯</div>
				<h3 class="empty__title">{{ T "empty_title" }}</h3>
				<p class="empty__text">{{ T "empty_text_start" | safeHTML }} ({{ delimit (apply $mainSections "printf" "<code>content/%s</code>" ".") ", " | safeHTML }}), {{ T "empty_text_end" }}.</p>
				<p class="empty__tip">{{ T "empty_tip" | safeHTML }}</p>
			</div>
		{{- end }}
	</main>
	{{ partial "pagination.html" . }}
{{ end }}